body {
  background-color: #55e2d6;
}

.card {
  width: 290px;
  height: 450px;
  margin: 0 auto;
  background-color: #2aebbb;
  border-radius: 8px;
  z-index: 1;
  margin-top: 70px;
  box-shadow: black 10px 10px 30px;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1px;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 2px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.card__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.InputContainer {
  width: 230px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(227, 213, 255),
    rgb(255, 231, 231)
  );
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

.buttons {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; /* Adjusted gap to fit the layout better */
  grid-auto-rows: minmax(45px, auto);
  padding: 20px;
  width: 230px;
  height: 110px;
}

button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

button:active {
  background-color: #d0d0d0;
}
